.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 870px) and (max-width: 1124px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1125px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  font-family: roboto, arial;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 13px;
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 40px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}